/* body content flex 지정 */
div.row { 
    margin-top : 5%;
}

@media(min-width : 768px){
    div.row {
        display : flex;
        padding-bottom: 50px;
    }

    div.body_data_left {
        position: relative;
        flex : 75%;
        max-width: 75%;
        padding : 0px 20px 0px 15%;
    }

    div.body_data_right {
        position: relative;
        flex : 25%;
        max-width : 25%;
        margin : 0 14% 0 0;
    }
}


@media(min-width : 590px) and (max-width: 768px) {
    div.row {
        margin-left : 10%;
    }
    div.body_data_left {
        margin-left : 10%;
    }
    div.body_data_right {
        margin-left : 10%;
    }
}  