li.global_feed {
    color : black;
    padding-right : 1.25rem;
    float : left;
    cursor: pointer;
}
li.global_feed_active {
    color : #5cb85c;
    padding-right : 1.25rem;
    float : left;
    cursor : pointer;
}

