* {
    box-sizing: inherit;
}

div.signin {
    margin-top : 5%;
    margin-left : 30%;
    max-width: 35%;
}

div.signinHead {
    text-align: center;
    margin : 0;
}

h2.signin {
    font-size: 2.5rem;
}

input.post {
    display : block;
    margin : 0 0 4% 0;
    padding : .75rem 1.25rem;
    border: 1px solid gray;
    border-radius: 1px;
    font-size : 1.25rem;
    width : 100%;
    box-sizing: inherit;
}

form.signinForm {
    margin-top : 5%;
}

button.signin {

    padding : 15px;
    color : white;
    background: green;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 1.25rem;
    float : right;
}

fieldset {
    min-width: 0;
    margin : 0;
    padding : 0;
    border : 0;
}

